<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DictionWave</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="header">
        <h1><a href="{{ url_for('index') }}">DictionWave</a></h1>
        <div class="search-container">
            <form method="post">
                <input type="text" name="word" placeholder="Enter a word" {% if last_word %} value="{{ last_word }}" {%
                    endif %} required>
                <button type="submit">Search</button>
                <div class="input-container">
                    <label for="num_words">Output Size:</label>
                    <input type="number" id="num_words" name="num_words" placeholder="Num Words" min="1"
                        value="{{ request.form.num_words or 80 }}" required>

                    <label for="rarity_boost">Rarity Boost:</label>
                    <input type="number" id="rarity_boost" name="rarity_boost" placeholder="Rarity" min="0" step="1.0"
                        value="{{ request.form.rarity_boost or 5.0 }}" required>

                    <label for="randomness">Randomness:</label>
                    <input type="number" id="randomness" name="randomness" placeholder="Rand" min="0" step="1.0"
                        value="{{ request.form.randomness or 0.0 }}" required>
                </div>
            </form>
        </div>
    </div>

    <div class="results">
        {% if similar_words %}

        <div class="column">
            <h2>Similar Words:</h2>
            <div>
                {% for word in similar_words %}
                <span class="word" onclick="submitWord('{{ word }}')">{{ word }}</span>
                {% endfor %}
            </div>
        </div>

        <div class="column">
            {% if similar_words_boosted %}
            <h2>Rarity Boosted Words:</h2>
            <div>
                {% for word in similar_words_boosted %}
                <span class="word" onclick="submitWord('{{ word }}')">{{ word }}</span>
                {% endfor %}
            </div>
            {% endif %}
        </div>

        {% endif %}
    </div>

    {% if example_words %}
    <div>
        <div class="welcome">
            <h2>Welcome!</h2>
            <p>
                DictionWave lets you explore the English language using the power of word embeddings. You can watch a
                short
                demo video on how to use it <u><a href="/static/dictionwave_demo.mp4">here</a></u>.
            </p>
            <p>Here are a few
                ideas
                to get you started &ndash; just click a word to begin your journey. Each word in the lists that
                follow
                is another link to further exploration.
            </p>
            <div class="example">
                {% for word in example_words %}
                <span class="word" onclick="submitWord('{{ word }}')">{{ word }}</span>
                {% endfor %}
            </div>
            <p>
                This is an
                open-source
                project
                licensed under the MIT License. Its GitHub repository can be found
                <u><a href="https://github.com/jhelsby/DictionWave">here</a></u>, and more information can be found
                <u><a href="{{ url_for('about') }}">here</a></u>. Many
                thanks for visiting!
            </p>
        </div>
    </div>
    {% endif %}

    <script>
        function submitWord(word) {
            const form = document.createElement('form');
            form.method = 'POST';
            form.action = '/';

            const inputWord = document.createElement('input');
            inputWord.type = 'hidden';
            inputWord.name = 'word';
            inputWord.value = word;

            const inputNumWords = document.getElementById('num_words').value;
            const inputRarityBoost = document.getElementById('rarity_boost').value;
            const inputRandomness = document.getElementById('randomness').value;

            const inputNumWordsField = document.createElement('input');
            inputNumWordsField.type = 'hidden';
            inputNumWordsField.name = 'num_words';
            inputNumWordsField.value = inputNumWords;

            const inputRarityBoostField = document.createElement('input');
            inputRarityBoostField.type = 'hidden';
            inputRarityBoostField.name = 'rarity_boost';
            inputRarityBoostField.value = inputRarityBoost;

            const inputRandomnessField = document.createElement('input');
            inputRandomnessField.type = 'hidden';
            inputRandomnessField.name = 'randomness';
            inputRandomnessField.value = inputRandomness;

            form.appendChild(inputWord);
            form.appendChild(inputNumWordsField);
            form.appendChild(inputRarityBoostField);
            form.appendChild(inputRandomnessField);

            document.body.appendChild(form);
            form.submit();
        }
    </script>
</body>

</html>